{% extends 'products/base.html' %}
{% load static %}

{% block title %}{{ product.title }} - Haine Elegante{% endblock %}

{% block content %}

<section class="container mx-auto px-6 py-12">
<!-- Галерея товара -->
<div class="max-w-xl mx-auto w-full">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        {% for img in product.images.all %}
          <div class="swiper-slide">
            <img src="{{ img.image.url }}" alt="{{ product.title }}"
                 class="rounded-lg w-full h-auto object-contain max-h-[500px]" />
          </div>
        {% empty %}
          <div class="swiper-slide">
            <img src="{{ product.image.url }}" alt="{{ product.title }}"
                 class="rounded-lg w-full h-auto object-contain max-h-[500px]" />
          </div>
        {% endfor %}
      </div>
  
      <!-- Навигация -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
        <!-- Информация о товаре -->
        <div>
            <h1 class="text-4xl font-bold text-gray-800">{{ product.title }}</h1>
            <p class="text-gray-500 text-lg mt-2">Categorie: <span class="text-pink-500">{{ product.category.name }}</span></p>
            <p class="text-gray-500 text-lg">Brand: <span class="text-pink-500">{{ product.brand.name }}</span></p>
            
            <!-- Цена -->
            {% if product.discount %}
                <p class="text-3xl font-bold text-gray-800 mt-4">
                    <span class="line-through text-gray-500">{{ product.price }} MDL</span>
                    <span class="text-pink-500 ml-2">{{ product.final_price }} MDL</span>
                </p>
                <p class="text-red-500 font-semibold text-lg">Reducere: {{ product.discount }}%</p>
            {% else %}
                <p class="text-3xl font-bold text-gray-800 mt-4">{{ product.price }} MDL</p>
            {% endif %}

            <!-- Доступные размеры -->
            <p class="text-gray-600 mt-4">Mărimi disponibile: <span class="text-gray-800 font-semibold">{{ product.sizes }}</span></p>
            <p class="text-gray-600 mt-4">{{ product.description }} </p>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper(".mySwiper", {
    loop: true,
    spaceBetween: 20,
    slidesPerView: 1,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
{% endblock %}
